/* Custom Card Section Styles */
.custom-bg-red {
    background-color: #AB3218;
  }
  
  .custom-bg-blue {
    background-color: #5A9C5C;
  }
  
  .custom-bg-green {
    background-color: #5A7A9C;
  }
  